.container {
    display: grid;
    grid-template-rows: 1fr;
}


/* Top Nav */
.top-nav {
    display: flex;
    flex: 1;
    border: solid red 2px;
}

nav {
    font-size: 24px;
    color: #f9faf8
}

a {
    font-size: 18px;
    color: #e5e7eb;
}



/* Hero */
.hero-head {
    color: #f9faf8;
    font-size: 48px;
    font-style: bold;
    font-weight: bolder;
}

.subheader {
    color: #e5e7eb;
    font-size: 18px;
    font-style: bold;
    font-weight: bolder;
}

/* 2nd Section */
.information {
    color: #1f2937;
    font-size: 36px;
    font-style: bold;
    font-weight: bolder;
}



/* Quote Section */
.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}



/* CTA Section */




/* Footer */