
body {
    margin: 0 auto;
}

/* Top Nav */
.top-nav {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    padding: 0px 150px 0 150px;
}

.logo {
    flex: 1 auto;
    align-self: center;
}

ul {
    align-self: center;
}

nav {
    font-size: 24px;
    color: #f9faf8
}

.tnav {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
}

.tnav:hover {
    font-size: 18px;
    text-decoration: underline;
}

/* Hero / Left Side */ 
.hero-align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9rem;
    flex-wrap: wrap;
    background-color: #1f2937;
}

.left-hero {
    /* display: flex; */
    flex: 1;
    margin: 0 20px 20px 0;
}

.left-box {
    justify-content: center;
    align-items: center;
}

.hero-head {
    color: #f9faf8;
    font-size: 48px;
    font-style: bold;
    margin: 0;
}

.subheader {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.btn {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-style: bold;
    padding: 8px 40px;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover, .btn:active {
    background-color: blue;
}

/* Hero Right Side */

.right-hero {
    flex: 0 1 400px;
    min-height: 142px;
    background-color: #757677;
}

.right-box {
    justify-content: center;
    align-items: center;
}

.img-placeholder {
    text-align: center;
    font-size: 18px;
    color: #f9faf8;
    font-weight: lighter;
}

/* 2nd Section */
.info-container {
    display: flex;
    height: 600px;
    align-items: center;
    flex-direction: column;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-style: bold;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-direction: column;
}

.flex-item {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
}

.img-des {
    width: 150px;
    margin: 5px 20px 20px 20px;
    text-align: center;
    font-weight: normal;
}

.image-box-1 {
    width: 150px;
    height: 150px;
    margin: 20px 20px 0 20px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.image-box-2 {
    width: 150px;
    height: 150px;
    margin: 20px 20px 0 20px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.image-box-3 {
    width: 150px;
    height: 150px;
    margin: 20px 20px 0 20px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.image-box-4 {
    width: 150px;
    height: 150px;
    margin: 20px 20px 0 20px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}


/* Quote Section */
.quote-sec {
    padding: 50px 200px 50px 200px;
    text-align: center;
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    text-align: right;
    color: #1f2937;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

/* CTA Section */
.cta-box {
    padding: 100px;
}

.sign-up {
    display: flex;
    border-radius: 10px;
    background: #3882f6;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
}

.cta-text {
    text-align: left;
    color: white;
}

h4 {
    text-align: left;
    font-size: 24px;
    font-style: bold;
    padding: 20px 20px 5px 20px;
    margin: 0 50px 0 0;
}

.cta-p {
    font-style: normal;
    padding: 0 20px 20px 20px;
    margin: 0 50px 0 0;
    text-align: left;
}

.cta-btn {
    
}

.cta-btn-1 {
    display: block;
    color: #e5e7eb;
    text-decoration: none;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 18px;
    font-style: bold;
    padding: 1rem;
}

.cta-btn-1:hover, .cta-btn-1:active {
    background-color: blue;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    color: #f9faf8;
}
