
/* Top Nav */
.top-nav {
    display: flex;
    border: solid red 2px;
    justify-content: space-around;
}

.logo {
    flex: 1 auto;
    align-self: center;
}


ul {
    align-self: center;

}

nav {
    font-size: 24px;
    color: #f9faf8
}


a {
    font-size: 18px;
    color: #e5e7eb;
}



/* Hero */
.hero-align {
    display: flex;
}

.hero-head {
    color: #f9faf8;
    font-size: 48px;
    font-style: bold;
    font-weight: bolder;
}

.subheader {
    color: #e5e7eb;
    font-size: 18px;
    font-style: bold;
    font-weight: bolder;
}

/* 2nd Section */
.info-container {
    display: flex;
    height: 500px;
    border: solid red 2px;
    align-items: center;
    flex-direction: column;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-style: bold;
    font-weight: bolder;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-direction: column;
}

.flex-item {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
}

.img-des {
    width: 150px;
    margin: 20px;
    text-align: center;
}

.image-box-1 {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
}

.image-box-2 {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
}

.image-box-3 {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
}

.image-box-4 {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
}


/* Quote Section */
.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}



/* CTA Section */




/* Footer */